/* JS */
/*===========
inview
===========*/
/* 左から */
.fadeIn_left {
    opacity: 0;
    transform: translate(-50%, 0);
    transition: 1s;
  }
  .fadeIn_left.is-show {
    transform: translate(0, 0);
    opacity: 1;
  }

  /* 右から */
  .fadeIn_right {
    opacity: 0;
    transform: translate(50%, 0);
    transition: 1s;
  }
  .fadeIn_right.is-show {
    transform: translate(0, 0);
    opacity: 1;
  }
  
/* 下から */
.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1s;
}
.fadeIn_up.is-show {
  transform: translate(0, 0);
  opacity: 1;
}
/* 上から */
.fadeIn_down {
    opacity: 0;
    transform: translate(0, -50%);
    transition: 1s;
  }
.fadeIn_down.is-show {
    transform: translate(0, 0);
    opacity: 1;
  }
/* 中央から */
.fadeIn {
    opacity: 0;
    transition: 1s;
  }
.fadeIn.is-show {
    opacity: 1;
  }

/* 共通のスタイル */
* {
    font-family: 'Oswald', sans-serif;
    color: #3C4048;
}

.textbar {
    height: 75px;
    background-color: #00ABB3;
    margin-bottom: 13px;
    padding: 10px;
    display: flex;
    
    align-items: center;
    position: relative;
    z-index: 20;
}

.textbar p {
    font-size: 28px;
    font-weight: bold;
}

.title {
    width:fit-content;
    transform: rotate(90deg);
}

.title h2 {
    color: #00ABB3;
    font-size: 128px;
    font-weight: bold;
}

/* main */
main {
    width: 1440px;
}

/* top */
#top {
    width: 1440px;
    height: 1024px;
    background-image: url(./img/top/Frame\ 3.png);
    background-repeat: cover;
    position: relative;
    
    
}

.topWrapper {
    width: 100%;
    position: absolute;
    top: -1px;
    right: -120px;
}
.topIcon {
    margin: 20px;
}
.topTitle {
    position: absolute;
    top: 430px;
    left: 830px;
    display: flex;
    flex-direction: column;
}

.topTitle h1 {
    color: #EAEAEA;
    font-size: 115px;
    display: flex;
    justify-content: flex-end;
}

/* what */
#what {
    width: 1440px;
    margin-top: 100px;
}
.whatWrapper {
    position: relative;
    height: 100vh;
    width: 100%;
}

.whatContentTop {
    height: calc(100vh - 25%);
}

.whattextbar1 {
    justify-content: flex-end;
    width: 450px;
}

.whattextbar2 {
    justify-content: flex-end;
    width: 600px;
}

.whatImage {
    position: absolute;
    top: 50px;
    left: 13%;
    z-index: 0;
}

.whatTitle {
    position: absolute;
    top: 100px;
    right: -50px;
    z-index: 10;
}

.whatContentBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whatContentBottom p {
    font-size: 24px;
    font-weight: 550;
    width: 70%;
}

.entryButton {
    border-radius: 30px;
    background-color: #3C4048;
    border: #B2B2B2 1px solid;
    width: 300px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 19px 16px -10px #777777;
    transition: all 0.2s;
    margin-top: 20px;
}

.entryButton:hover {
    transform: translateY(5px);
    box-shadow: none;
}

.entryButton span {
    color: #B2B2B2;
    font-weight: bold;
}
.toEntryformText {
    font-size: 15px;
    margin-bottom: 5px;
}
.entryText {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 20px;
    margin-right: -20px;
    margin-top: 5px;
}

/* point */
#point {
    width: 1440px;
    margin-top: 100px;
}
.pointWrapper {
    height: 90vh;
    width: 100%;
    
    position: relative;
}

.pointContentTop {
    height: calc(100vh - 30%);
}
.pointTitle {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 10;
}

.pointImage {
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 0;
}

.pointtextbar1 {
    justify-content: flex-start;
    width: 550px;
    margin-left: auto;
    position: absolute;
    top: 450px;
    right: 0;
}

.pointtextbar2 {
    justify-content: flex-start;
    width: 600px;
    margin-left: auto;
    position: absolute;
    top: 540px;
    right: 0;
}

.pointContentBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
}

.pointContentBottom p {
    
    font-size: 24px;
    font-weight: 550;
    width: 700px;
}

/* interview */
.interviewWrapper {
    height: 100vh;
    width: 1440px;
    background-image: url('./img/interview/Rectangle\ 19\ \(2\).png');
    
    display: flex;
    position: relative;
}

.interviewContentleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
}
.interviewCard {
    height: 400px;
    margin-left: 130px;
    width: 70%;
}

.male {
    background-image: url('./img/interview/male.png');
}

.female {
    background-image: url('./img/interview/female.png');
}

.interviewCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.interviewCardWrapper h3 {
    font-size: 32px;
    margin: 15px auto 5px;
}

.description {
    margin-left: 60px;
    width: 70%;
}

.description p {
    font-size: 24px;
}

.interviewTitle {
    position: absolute;
    top: 300px;
    right: -100px;
    z-index: 10;
}

/* job */
#job {
    width: 1440px;
    margin-top: 100px;
}
.jobWrapper {
    height: 90vh;
    width: 100%;
    
    position: relative;
}

.jobContentTop {
    height: calc(100vh - 30%);
}
.jobTitle {
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 10;
}

.jobImage {
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 0;
}

.jobtextbar1 {
    justify-content: flex-start;
    width: 600px;
    margin-left: auto;
    position: absolute;
    top: 450px;
    right: 0;
}

.jobtextbar2 {
    justify-content: flex-start;
    width: 400px;
    margin-left: auto;
    position: absolute;
    top: 540px;
    right: 0;
}

.jobContentBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
}

.jobContentBottom p {
    
    font-size: 24px;
    font-weight: 550;
    width: 700px;
}

/* recruit */
#recruit {
    margin-top: 100px;
}
.recruitWrapper {
    height: 170vh;
    width: 100%;
    position: relative;
}

.recruitTitle {
    position: absolute;
    top: 100px;
    right: -100px;
    z-index: 10;
}

.recruitContentLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recruitForm {
    margin: 100px 0 0;
    width: 1000px;
    height: 1400px;
    background-image: url('./img/recruit/Frame\ 4.png');
    background-size: contain;
}

.recruitFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recruitFormText {
    margin: 100px auto 50px;
}

.recruitFormText {
    font-size: 24px;
    font-weight: 550;
}

.form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.label {
    display: inline-block;
    background-color: #00ABB3;
    width: 200px;
    height: 86px;
    color: #3C4048;
    font-size: 24px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inputs {
    border: #00ABB3 1px solid;
    border-radius: 10px;
    width: 643px;
    height: 86px;
    padding: 5px;
    margin-left: 10px;
}

.inputsYMD {
    border: #00ABB3 1px solid;
    border-radius: 10px;
    height: 86px;
    width: 150px;
    margin-left: 10px;
    padding: 5px;

}

.inputsText {
    font-size: 24px;
    font-weight: 600;
    margin: 0 10px;
}

.inputsPostCode {
    border: #00ABB3 1px solid;
    border-radius: 10px;
    height: 86px;
    width: 150px;
    margin-left: 10px;
    padding: 5px;
}
.questionLabel {
    display: inline-block;
    background-color: #00ABB3;
    width: 200px;
    height: 200px;
    color: #3C4048;
    font-size: 24px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.textarea {
    border: #00ABB3 1px solid;
    border-radius: 10px;
    width: 643px;
    height: 200px;
    margin-left: 10px;
    padding: 5px;
}
.questionText {
    font-size: 13px;
}

.btn-area {
    border-radius: 30px;
    background-color: #3C4048;
    border: #B2B2B2 1px solid;
    width: 300px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 19px 16px -10px #777777;
    transition: all 0.2s;
    margin: 20px auto 0;
}

.btn-area:hover {
    transform: translateY(5px);
    box-shadow: none;
}

.btn-text {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 20px;
    margin: 5px -20px 0 0;
    color: #B2B2B2;
    font-weight: bold;
}
.toEntryformText {
    font-size: 15px;
    margin-bottom: 5px;
}

.btn-subtext{
    font-size: 15px;
    margin-bottom: 5px;
    color: #B2B2B2;
    font-weight: bold;
}

/* footer */
#footer {
    background-color: #3C4048;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
#footer p {
    color: #EAEAEA;
    font-size: 13px;
    font-weight: lighter;
}

@media screen and (min-width: 1100px){
    main {
        max-width: fit-content;
        margin: 0 auto;
    }
}
